.top-nav-cont {
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 8px;
    box-sizing: border-box;
}
.top-nav-right {
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 5%;
}
.top-nav-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo-heading {
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
    align-self: flex-end;
}
@media only screen and (max-width: 800px) {
    .top-nav-cont  {
        text-align: left;
        margin-left: 5%;
    }
  }